<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hello! Log in with your email.</p>

@if (showMessages.error && errors?.length && !submitted) {
  <nb-alert outline="danger" role="alert">
    <p class="alert-title"><b>There was a problem!</b></p>
    <ul class="alert-message-list">
      @for (error of errors; track $index) {
        <li class="alert-message">{{ error }}</li>
      }
    </ul>
  </nb-alert>
}

@if (showMessages.success && messages?.length && !submitted) {
  <nb-alert outline="success" role="alert">
    <p class="alert-title"><b>Success!</b></p>
    <ul class="alert-message-list">
      @for (message of messages; track $index) {
        <li class="alert-message">{{ message }}</li>
      }
    </ul>
  </nb-alert>
}

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-username">Username:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.username"
           #username="ngModel"
           name="username"
           id="input-username"
           pattern="[a-zA-Z0-9]*"
           placeholder="Username address"
           fieldSize="large"
           autofocus
           [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : 'basic'"
           [required]="getConfigValue('forms.validation.username.required')"
           [attr.aria-invalid]="username.invalid && username.touched ? true : null">
    @if (username.invalid && username.touched) {
      @if (username.errors?.required) {
        <p class="caption status-danger">
          Username is required!
        </p>
      }
      @if (username.errors?.pattern) {
        <p class="caption status-danger">
          Username should be the real one!
        </p>
      }
    }
  </div>

  <div class="form-control-group">
    <span class="label-with-link">
      <label class="label" for="input-password">Password:</label>
      <!-- <a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a> -->
    </span>
    <input nbInput
           fullWidth
           [(ngModel)]="user.password"
           #password="ngModel"
           name="password"
           type="password"
           id="input-password"
           placeholder="Password"
           fieldSize="large"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
           [required]="getConfigValue('forms.validation.password.required')"
           [minlength]="getConfigValue('forms.validation.password.minLength')"
           [maxlength]="getConfigValue('forms.validation.password.maxLength')"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    @if (password.invalid && password.touched) {
      @if (password.errors?.required) {
        <p class="caption status-danger">
          Password is required!
        </p>
      }
      @if (password.errors?.minlength || password.errors?.maxlength) {
        <p class="caption status-danger">
          Password should contain
          from {{ getConfigValue('forms.validation.password.minLength') }}
          to {{ getConfigValue('forms.validation.password.maxLength') }}
          characters
        </p>
      }
    }
  </div>

  <div class="form-control-group accept-group">
    @if (rememberMe) {
      <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe">Remember me</nb-checkbox>
    }
  </div>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="submitted || !form.valid"
          [class.btn-pulse]="submitted">
    Log In
  </button>
</form>

@if (socialLinks && socialLinks.length > 0) {
  <section class="links" aria-label="Social sign in">
    or enter with:
    <div class="socials">
      @for (socialLink of socialLinks; track socialLink.title) {
        @if (socialLink.link) {
          <a
            [routerLink]="socialLink.link"
            [attr.target]="socialLink.target"
            [attr.class]="socialLink.icon"
            [class.with-icon]="socialLink.icon">
            @if (socialLink.icon) {
              <nb-icon [icon]="socialLink.icon"></nb-icon>
            } @else {
              {{ socialLink.title }}
            }
          </a>
        }
        @if (socialLink.url) {
          <a
            [attr.href]="socialLink.url"
            [attr.target]="socialLink.target"
            [attr.class]="socialLink.icon"
            [class.with-icon]="socialLink.icon">
            @if (socialLink.icon) {
              <nb-icon [icon]="socialLink.icon"></nb-icon>
            } @else {
              {{ socialLink.title }}
            }
          </a>
        }
      }
    </div>
  </section>
}

<!-- <section class="another-action" aria-label="Register">
  Don't have an account? <a class="text-link" routerLink="../register">Register</a>
</section> -->
