<nb-card>
    <nb-card-header>
        {{ distribution.title }}
    </nb-card-header>
    <nb-card-body class="content-truncated">

        @if (distribution.description != '') {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'DESCRIPTION' | translate }}:</label>
                <p class="truncated">{{ distribution.description }}</p>
            </span>
        }

        @if (distribution.format != '') {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'FORMAT' | translate }}:</label>
                <p class="truncated">{{ distribution.format }}</p>
            </span>
        }

        @if (distribution.accessURL != '') {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'ACCESS_URL' | translate }}:</label>
                <p class="truncated">
                    <a [href]="distribution.accessURL" target="_blank">{{ distribution.accessURL }}</a>
                </p>
            </span>
        }

        @if (distribution.downloadURL != '') {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'DOWNLOAD_URL' | translate }}:</label>
                <p class="truncated">
                    <a [href]="distribution.downloadURL" target="_blank">{{ distribution.downloadURL }}</a>
                </p>
            </span>
        }

        @if (distribution.mediaType != '') {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'MEDIA_TYPE' | translate }}:</label>
                <p class="truncated">{{ distribution.mediaType }}</p>
            </span>
        }

        @if (distribution.license.name != '' || distribution.license.uri != '') {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'LICENSE' | translate }}:</label>
                <p class="truncated">
                    <a [href]="distribution.license.uri" target="_blank">
                        {{ distribution.license.name || distribution.license.uri }}
                    </a>
                </p>
            </span>
        }

        @if (distribution.releaseDate != '' && showDate(distribution.releaseDate)) {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'RELEASE_DATE' | translate }}:</label>
                <p class="truncated">{{ distribution.releaseDate | date }}</p>
            </span>
        }

        @if (distribution.updateDate != '' && showDate(distribution.updateDate)) {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'UPDATE_DATE' | translate }}:</label>
                <p class="truncated">{{ distribution.updateDate | date }}</p>
            </span>
        }

        @if (distribution.language != undefined && (distribution.language.length > 1 || (distribution.language.length == 1 && distribution.language[0] != '' && distribution.language[0] != undefined))) {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'LANGUAGES' | translate }}:</label>
                <p class="truncated">{{ distribution.language.join(',') }}</p>
            </span>
        }

        @if (distribution.linkedSchemas != undefined && (distribution.linkedSchemas.length > 1 || (distribution.linkedSchemas.length == 1 && distribution.linkedSchemas[0] != undefined && distribution.linkedSchemas[0].title != ''))) {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'LINKED_SCHEMAS' | translate }}:</label>
                <p class="truncated">{{ printStandard(distribution.linkedSchemas) }}</p>
            </span>
        }

        @if (distribution.rights != '') {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'RIGHTS' | translate }}:</label>
                <p class="truncated">{{ distribution.rights }}</p>
            </span>
        }

        @if (distribution.status != undefined) {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'STATUS' | translate }}:</label>
                <p class="truncated">{{ printConcepts(distribution.status) }}</p>
            </span>
        }

        @if (distribution.byteSize != '' && distribution.byteSize != '0') {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'BYTE_SIZE' | translate }}:</label>
                <p class="truncated">{{ distribution.byteSize }} B</p>
            </span>
        }

        @if (distribution.checksum != undefined && distribution.checksum.algorithm != '') {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'CHECKSUM_ALGORITHM' | translate }}:</label>
                <p class="truncated">{{ distribution.checksum.algorithm }}</p>
            </span>
        }

        @if (distribution.checksum != undefined && distribution.checksum.checksumValue != '') {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'CHECKSUM_VALUE' | translate }}:</label>
                <p class="truncated">{{ distribution.checksum.checksumValue }}</p>
            </span>
        }

        @if (distribution.documentation != undefined && (distribution.documentation.length > 1 || (distribution.documentation.length == 1 && distribution.documentation[0] != '' && distribution.documentation[0] != undefined))) {
            <span class="d-flex flex-column mb-2">
                <label class="label">{{ 'DOCUMENTATION' | translate }}:</label>
                <p class="truncated">{{ distribution.documentation.join(',') }}</p>
            </span>
        }
    </nb-card-body>
</nb-card>